<h1>Update Your Account</h1>

<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |m| %>
      <li><%= m %></li>
    <% end %>
  </ul>
<% end %>

<%
# A long-standing bug prevents form_for from working
# automatically with singular resources.
# As a workaround, specify the URL for the form directly
# See: http://guides.rubyonrails.org/routing.html
%>

<%= form_for @user, url: users_path do |f| %>

  <div class='field'>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class='field'>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class='field'>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <%= f.submit %>

<% end %>
