<!DOCTYPE html>
<html>
  <head>
    <title>Ryde</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if flash.any? %>
      <% flash.each do |key, value| %>
        <p class="<%= key %>">
          <%= value %>
        </p>
      <% end %>
    <% end %>


    <% if current_user %>
      <p>
        <%= link_to 'Home', root_path %> |
        <%= link_to 'Update Account', edit_users_path %> |
        <%= link_to 'Logout', sessions_path, method: :delete %>
      </p>

      Hello <%= current_user.email %>, You have <%= current_user.credits %> credits!
    <% else %>
      <p>
        <%= link_to 'Home', root_path %> |
        <%= link_to 'New User', new_users_path %> |
        <%= link_to 'Login', new_sessions_path %>
      </p>

      You must login to see your credits!
    <% end %>

    <%= yield %>
  </body>
</html>
